In [11]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import pickle

In [12]:
data = pd.read_pickle('../data/data_pickle/nudity_train.pkl')
data['url'] = data['severity_rating']
data['None'] = None
data['Mild'] = None
data['Moderate'] = None
data['Severe'] = None
data = data.drop('severity_rating', axis=1)
data

,IMDb_id,url,None,Mild,Moderate,Severe
0,tt0111438,https://www.imdb.com/title/tt0111438/parentalg...,None,None,None,None
1,tt0349080,https://www.imdb.com/title/tt0349080/parentalg...,None,None,None,None
2,tt0088680,https://www.imdb.com/title/tt0088680/parentalg...,None,None,None,None
3,tt0066065,https://www.imdb.com/title/tt0066065/parentalg...,None,None,None,None
4,tt0065481,https://www.imdb.com/title/tt0065481/parentalg...,None,None,None,None
...,...,...,...,...,...,...
5195,tt5727282,https://www.imdb.com/title/tt5727282/parentalg...,None,None,None,None
5196,tt0172493,https://www.imdb.com/title/tt0172493/parentalg...,None,None,None,None
5197,tt0120701,https://www.imdb.com/title/tt0120701/parentalg...,None,None,None,None
5198,tt1545106,https://www.imdb.com/title/tt1545106/parentalg...,None,None,None,None
5199,tt0112040,https://www.imdb.com/title/tt0112040/parentalg...,None,None,None,None

In [13]:
capacity = 1000
number = 0
for imdb, url in zip(data['IMDb_id'], data['url'], ):
    number += 1
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    # Gdy chcemy pobrać jakąś z cech to sprawdzamy jak na stronie to się nazywa najczęściej ma to format advisory-{emocja-rzecz} np: advisory-violence
    section = soup.find(id='advisory-nudity')
    # Znalezienie wszystkich <span> o klasie 'ipl-vote-button__details' w tej sekcji
    spans = section.find_all('span', class_='ipl-vote-button__details')
    if len(spans) >= 4:
        data['None'] = np.where(data['IMDb_id'] == imdb, spans[0].text, data['None'])
        data['Mild'] = np.where(data['IMDb_id'] == imdb, spans[1].text, data['Mild'])
        data['Moderate'] = np.where(data['IMDb_id'] == imdb, spans[2].text, data['Moderate'])
        data['Severe'] = np.where(data['IMDb_id'] == imdb, spans[3].text, data['Severe'])
    if number == capacity:
        break
print("Skończone pobieranie")

Skończone pobieranie

In [14]:
data

,IMDb_id,url,None,Mild,Moderate,Severe
0,tt0111438,https://www.imdb.com/title/tt0111438/parentalg...,2,14,20,17
1,tt0349080,https://www.imdb.com/title/tt0349080/parentalg...,5,4,6,59
2,tt0088680,https://www.imdb.com/title/tt0088680/parentalg...,11,47,50,15
3,tt0066065,https://www.imdb.com/title/tt0066065/parentalg...,3,4,0,0
4,tt0065481,https://www.imdb.com/title/tt0065481/parentalg...,0,5,6,0
...,...,...,...,...,...,...
5195,tt5727282,https://www.imdb.com/title/tt5727282/parentalg...,None,None,None,None
5196,tt0172493,https://www.imdb.com/title/tt0172493/parentalg...,None,None,None,None
5197,tt0120701,https://www.imdb.com/title/tt0120701/parentalg...,None,None,None,None
5198,tt1545106,https://www.imdb.com/title/tt1545106/parentalg...,None,None,None,None
5199,tt0112040,https://www.imdb.com/title/tt0112040/parentalg...,None,None,None,None

In [15]:
# Zapisanie do pikla
with open("../notebooks/training_pkl/nudity_train.pkl", "wb") as f:
    pickle.dump(data, f)

In [16]:
data = pd.read_pickle("training_pkl/nudity_train.pkl")
data

,IMDb_id,url,None,Mild,Moderate,Severe
0,tt0111438,https://www.imdb.com/title/tt0111438/parentalg...,2,14,20,17
1,tt0349080,https://www.imdb.com/title/tt0349080/parentalg...,5,4,6,59
2,tt0088680,https://www.imdb.com/title/tt0088680/parentalg...,11,47,50,15
3,tt0066065,https://www.imdb.com/title/tt0066065/parentalg...,3,4,0,0
4,tt0065481,https://www.imdb.com/title/tt0065481/parentalg...,0,5,6,0
...,...,...,...,...,...,...
5195,tt5727282,https://www.imdb.com/title/tt5727282/parentalg...,None,None,None,None
5196,tt0172493,https://www.imdb.com/title/tt0172493/parentalg...,None,None,None,None
5197,tt0120701,https://www.imdb.com/title/tt0120701/parentalg...,None,None,None,None
5198,tt1545106,https://www.imdb.com/title/tt1545106/parentalg...,None,None,None,None
5199,tt0112040,https://www.imdb.com/title/tt0112040/parentalg...,None,None,None,None